<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notely</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-zinc-900 text-white">
    <main class="w-full min-h-screen p-6">

      <!-- Form Section -->
      <section class="max-w-2xl mx-auto mb-10">

        <a href="/" class="text-blue-400 mb-3 inline-block">
          <span class="material-symbols-outlined"> arrow_back_ios </span>
        </a>

        <h2 class="text-4xl font-semibold mb-10">Notely</h2>

        <h2 class="text-xl font-semibold mb-5 text-shadow">
          Editing 
          <%= (title.replace('.txt','').replace(/-/g, ' ')).charAt(0).toUpperCase() 
           + (title.replace('.txt','').replace(/-/g,' ').slice(1).toLowerCase()) %>
        </h2>

        <form class="flex flex-col gap-5" action="/edit" method="post">

          <input
            name="title"
            type="text"
            value="<%= (title.replace('.txt','').replace(/-/g, ' ')).charAt(0).toUpperCase() 
              + (title.replace('.txt','').replace(/-/g,' ').slice(1).toLowerCase()) %>"
            placeholder="Title"
            class="w-full rounded-md bg-zinc-800 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
          />

          <input
            name="prevTitle"
            type="text"
            value="<%= title %>"
            class="hidden"
          />

          <textarea
            name="note"
            placeholder="Write your note..."
            class="w-full rounded-md bg-zinc-800 px-4 py-2 h-64 resize-none outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
          ><%= note %></textarea>

          <button
            type="submit"
            class="rounded-md bg-blue-600 px-4 py-2 font-medium hover:bg-blue-700 transition shadow-md"
          >
            Save Note
          </button>

        </form>

      </section>
    </main>

    <script src="/scripts/script.js"></script>
  </body>
</html>
