<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-zinc-900 text-white">
    
    <main class="w-full min-h-screen p-6">

      <!-- Form Section -->
      <section class="max-w-xl mx-auto mb-10">
        <h2 class="text-4xl font-semibold mb-10 text-shadow">Notely</h2> 
        <form class="flex flex-col gap-5" action="/create" method="post">
          <input
            name="title"
            type="text"
            placeholder="Title"
            class="w-full rounded-md bg-zinc-800 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
          />

          <textarea
            name="note"
            placeholder="Write your note..."
            class="w-full rounded-md bg-zinc-800 px-4 py-2 h-32 resize-none outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
          ></textarea>

          <button
            type="submit"
            class="rounded-md bg-blue-600 px-4 py-2 font-medium hover:bg-blue-700 transition shadow-md"
          >
            Save Note
          </button>
        </form>
      </section>

      <!-- Cards Section -->
      <section
        class="grid gap-6 px-2 mt-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <% if(files.length > 0) { files.forEach(file => { %>

        <article class="rounded-md bg-zinc-800 p-4 shadow-md">
          <h2 class="text-2xl font-semibold mb-3">
            <%=(file.replace('.txt','').replace(/-/g, ' ')).charAt(0).toUpperCase() +(file.replace('.txt','').replace(/-/g,' ').slice(1).toLowerCase())%>
          </h2>

          <div class="mt-3 flex justify-between items-center">
            <a
              href="/note/<%= file %>"
              class="inline-block text-blue-400 hover:underline"
            >
              Read more
            </a>
            <div>
            <a href="/edit/<%= file %>"><span class="material-symbols-outlined"> edit </span></a>
              <a href="/delete/<%= file %>"><span class="material-symbols-outlined">
                delete
              </span></a>
            </div>
          </div>
        </article>

        <% }) } else { %>
        <p class="text-3xl font-semibold tracking-tight text-center mb-10 text-shadow">
          No notes yet.
        </p>
        <% } %>
      </section>
    </main>

    <script src="/scripts/script.js"></script>
  </body>
</html>
